*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    color: black;
}

.lock-screen {
    width: 425px;
    height: 921px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.lock-screen-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
}

.note-creation-wrapper{
    background-color: lightblue;
    width: 35vh;
    height: 25vh;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.creation-btns{
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
}

.delete-submit-btns{
    display: flex;
    justify-content:space-between;
    height: 30%;
}

.deletebtn, .submitbtn{
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    border-radius: 20px;
    padding: 5%;
    width: 50%;
}

.new-note-btn, .new-todo-btn{
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    height: 30%;
    border-radius: 20px;
}

#startButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    width: 100px; /* Adjust button width as needed */
    height: 100px; /* Adjust button height as needed */
    background-image: url('../images/start_button_normal.png'); /* Normal button image */
    background-size: cover;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}